/* pages/components/mine-blog/mine-blog.wxss */
@import "../base-info/base-info.scss";
// 头部的gif
.bg-image {
  position: relative;
  background-image: url(https://mmbiz.qpic.cn/mmbiz_gif/fgbJtZz5YSeUfOl0FnlCNnVbXFN7gnrF0sgHPmD8oiaeaibVIkJR72sicTgBrsNCbqLibGgX7eIbr7Jic5zvicW99ibQA/0?wx_fmt=gif);
  background-position: center;
  background-size: cover;
  width: 700rpx;
  height: 348rpx;
  margin:0 auto 0;
  @include flex(center, center);
  flex-direction: column;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  overflow: hidden;
  font-weight: 300;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius:20rpx;
}
// 联系信息边框
.contact-border {
  border-bottom: $border;
  &:last-child {
    border-bottom: none;
  }
}
// 复制图标
.contact-item-copy-icon {
  width: 40rpx;
  height: 40rpx;
  position: absolute;
  right: 0;
}
